:root {

    --background: #000;
    --text-color: #DDDDDD;
    --text-link: #DDDDDD;
    --box-shadow: rgba(255,255,255,.5);

    --spring-2022-background: var(--background);
    --spring-2022-text: var(--text-color);
    --spring-2022-link: var(--text-link);

    --cocoon-2021-background: var(--background);
    --cocoon-2021-text: var(--text-color);
    --cocoon-2021-link: var(--text-link);

    --fallwinter-2122-background: var(--background);
    --fallwinter-2122-text: var(--text-color);
    --fallwinter-2122-link: var(--text-link);
}

body {
  color: var(--text-color);
}

.shell {
  border: 2px solid #fff;
  box-sizing: border-box;
}

select#allSections {
  background: rgba(255,255,255,1);
  backdrop-filter: blur(0px);
  color: var(--background);
}

.bio {
  -webkit-filter: grayscale(100%);
}

.featured {
  -webkit-filter: grayscale(100%);
  background-color: var(--background) !important;
  color: var(--text-color) !important;
  box-sizing: border-box;
  border-color: var(--text-color) !important;
}

        .featured:hover {
          box-shadow: 0px 0px 25px var(--box-shadow);
        }

.fallwinter-2122 {
  background-image: url('images/spring-2021-gradient.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cocoon-2021 {
  background-image: url('images/cocoon-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: screen;
}

.codesocieties-2020 {
  background-image: url('images/knot-2.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
